extends layout

block content
    h1= title
    p Welcome to Inventory App! An app based on the express local library tutorial by MDN and a project which is a part of the nodejs course in The Odin Project.

    p Here are the following records currently in the inventory:
      ul 
        li #[strong Products:] !{numberOfProducts}
        li #[strong Categories:] !{numberOfCategories}
